<div class="row mt-4">
  <div class="col"></div>
  <div class="col-6">
    <div class="text-center mt-4">
      <h3><%= @question.text %></h3>
    </div>
    <%= form_with(url: question_answer_path) do |f| %>
      <% @question.answers.each do |answer| %>
        <div class="form-check mt-4">
          <%= f.radio_button :answer, answer.id, class: "form-check-input" %>
          <%= f.label dom_id(answer), answer.text, class: "form-check-label" %>
        </div>
      <% end %>

      <%= f.submit "Ответить", class: "btn btn-danger text-black mt-4" %>
    <% end %>
  </div>
  <div class="col text-center">
    <h4 class="mt-4">Вопрос <%= @current_question_index %> / <%= @count_questions %></h4>
  </div>
</div>