<%= turbo_stream.replace dom_id(@test) do %>
  <div class="col" id="<%= dom_id(@test) %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center mb-4"><%= @test.title %></h4>
        <% @completed_tests_records.each do |record| %>
          <div class="card-text">
            <p>Дата прохождения: <%= record.created_at %></p>
            <p>Количество правильных ответов: <%= record.right_answers_count %> </p>
            <p>Количество вопросов: <%= record.questions_count %></p>
          </div>
          <hr>
        <% end %>
        <%= button_to "Свернуть", progress_hide_path(@test), remote: true, class: "btn btn-danger text-black mt-2" %>
      </div>
    </div>
  </div>
<% end %>